/*If you scroll down, rules that are specific to pages are grouped and labelled*/

/* request for the background image is not made when screenWidth < 769px */
@media screen and (min-width:769px) {
  body {
    background: url(../img/backgroundTEST2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
a,p,h1,h2,h3,h4,h5,h6,li,pre,button,label,input,textarea {
  /*font-family: 'Russo One', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
    
}
p {
  font-weight: 500;
}

/*the rule below was used to prevent bleeding from background*/
/*it is unfortunately interfering with the modal background effects TODO*/
body div {
  background-color: white;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
}
#navtabs li > a:focus {
  outline:none;
}
.nav-pills a {
  color:white;
}
.nav-tabs a {
  color:black;
}
.nav-tabs li {
  border-left:1px solid white;
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li:hover {
  /*background-color: orange;*/
  background: orange; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ff9900, #ffff00); 
  background: -o-linear-gradient(#ff9900, #ffff00); 
  background: -moz-linear-gradient(#ff9900, #ffff00); 
  background: linear-gradient(#ff9900, #ffff00); 
  color:black;

  border:none;  
}

/*Two classes below are applied to or removed from navbar via jQueryReady.js */
.roundedLeft {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.roundedRight {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
/*Rule below rounds corners on the mobile nav's on:hover behavior*/
@media screen and (max-width: 768px) {
  .nav > #roundMyLeft > a:focus, .nav > #roundMyLeft > a:hover, .nav > #roundMyLeft:hover {
    border-radius: 10px 10px 0px 0px;
  }
  /*.nav > li > a:focus, .nav > li > a:hover, .nav > li:hover {*/
  .nav > #roundMyRight > a:focus, .nav > #roundMyRight > a:hover, .nav > #roundMyRight:hover {
    border-radius: 0px 0px 10px 10px;
  }
}

@media screen and (max-width:500px) {
  #blueNav {
    padding:0px;
  }
  #blueNav nav ul li {
    margin:0px;
  }
  #blueNav nav ul li a {
    font-size:8px;
  }
} /* end of query */

@media screen and (max-width:768px) {
  #myCarousel p {
    font-size: 8px;
    }
  #logoImg {
    margin:auto;
    padding-top: 4%;
  }
  .jumbotron {
    margin-left: 3%;
    margin-right: 3%;
    padding:0px;
  }
  p {
    font-size: 11px;
    /*margin: 0px;*/
  }
  footer p {
    font-size: 8px;
  }
  .header, .content {
    padding-right: 35px;
    padding-left: 35px;
  }
} /* end of query */

@media screen and (min-width:769px) {
  .container {
    max-width: 730px;
  }
  #myCarousel  p {
    font-size: 10px;
  }
  #logoImg {
    padding: 20px;
  }
  .jumbotron {
    z-index:3;
    padding:5px;
  }
  footer p {
    font-size: 10px;
  }
  .header, .content, .footer {
    padding-right: 0;
    padding-left: 0;
  }
} /* end of query */

.footer {
  padding-top: 15px;
}
.shadow{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.roundedCorners {
  border-radius: 10px;
}
.roundedTopCorners {
  border-radius: 10px 10px 0px 0px;
}
.roundedBottomCorners {
  border-radius: 0px 0px 10px 10px;
}
.oneSixth {
  width:16.66666666666666666666667%;
}
.links a {
  color:black;
  border:1px solid white;
}
.padding {
  padding-left: 20px;
  padding-right: 20px;
}
.positioning {
  margin-top:-4%;
  padding-bottom:2%;
}
.marginLeft {
  margin-left: 2%;
}
.blueGradient {
  color:white;
  background: #00264d; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#0059b3, #00264d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#0059b3, #00264d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#0059b3, #00264d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#0059b3, #00264d); /* Standard syntax */
}
.yellowGradient {
  color:white;
  background: #ffcc00; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffff00, #ff9900); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffff00, #ff9900); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffff00, #ff9900); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffff00, #ff9900); /* Standard syntax */
}
#linkToHome {
  color: white;
}

/*the rules below are applied to the faculty.html partial*/
@media  screen and (min-width:768px) {
    width: 700px; 
    height: 250px  
}
@media  screen and (min-width:768px) {
    width: 350px; 
    height: 125px;  
} 
/*end Home rules*/

/*the rules below are applied to the faculty.html partial*/
.hint {
  font-size: 11px;
}
.orangeText {
  color: orange;
}
.facultyImg {
  margin:auto;
  height: 117px;
  width:auto;
}
.biggerText {
  font-size: 16px;
}
/*#hideLink:link {
  text-decoration: none;
  cursor: default;
  color:black
}*/
.notDisplayed {
  display:none;
}

/* TODO: refactor Faculty page so animation works or remove rules below */
.animate-show {
  /*line-height: 20px;*/
  opacity: 1;
  /*padding: 10px;*/
  /*border: 1px solid black;*/
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s !important;
}

.animate-show.ng-hide {
  /*line-height: 0;*/
  opacity: 0;
  /*padding: 0 10px;*/
}
/*.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}*/


/*the rules below are applied to the network.html partial, which is deprecated as of Nov 2016*/
.panel-default > .panel-heading {
  background-color: #e6f3ff !important;
}

/*the rules below are used in the labs page*/
.btn {
  color: black;
}
.modal-content {
  border-radius:10px !important;
}

/*rules applied to help pages*/
.attribution {
  font-size:10px;
}

.center {
  margin:auto;
}
/*applied to Account partial*/
.raised {
  position:relative;
  z-index:10;
}
