<h1>Roundcube is down for maintenance</h1>

<p>
    <strong>
        We apologize for any inconvenience and expect service to be restored shortly.
    </strong>
</p>

<p>
    In the meantime, you may be able to check your mail by SSH-ing into Fang and using the Alpine application
    to check your mail. 
    <a href="#email">See this page for details</a>
</p>    
    Alternatively, you can the .forward file in your home directory to forward your mail to another account. 
    <br/><a href="#email">See this page for details</a>
    <br/>If you attempt to use Alpine, and get an error related to storage, see below.
    
</p>

<p>
    <strong>
        We are also currently experiencing a storage shortage on our NFS. 
        Please delete any old/unnecessary files from your home-directories on Fang.
    </strong>
</p>

