<!-- this file is injected into the div in index.html that has a class of: 'ng-view'
     once an AJAX request is implicitly made by the user -->

<div class="container-fluid">

  <div class="container-fluid text-center">
    <p class="hint">
      (Hint: hover if you would like to see a description)
    </p>
    <br>
  </div>

  <dl ng-repeat="element in topics">
    <dd>
      <a href="{{ element.url }}" data-toggle="tooltip" title="{{ element.tooltip }}">
      <!-- I was forced to use AngularUI here(which is an Angular wrapper for bootstrap) -->
        <button class="btn btn-lg btn-default yellowGradient shadow"
                tooltip-placement="{{tooltipPlacement()}}"
                uib-tooltip="{{element.tooltip}}"
                type="button">
          {{element.topic}}{{placement.selected}}
        </button>
      </a>
    </dd>
  </dl>

</div>
