<!-- this file is injected into the div in index.html that has a class of: 'ng-view'
     once an AJAX request is implicitly made by the user -->

<div class="container-fluid">

  <div class="container-fluid text-center">
    <p class="hint">
      (Hint: hover if you would like to see a description)
    </p>
    <br>
  </div>

  <dl ng-repeat="element in topics">
    <dd>
      <a href="{{ element.url }}" data-toggle="tooltip" data-placement="right" title="{{ element.tooltip }}" data-container="body">
        <button class="btn btn-lg btn-default yellowGradient shadow">
          {{ element.topic }}
        </button>
      </a>
    </dd>
  </dl>

<a href="#" data-toggle="tooltip" data-placement="right" title='{{topics[0].tooltip}}'>{{topics[0].topic}}</a>
<!-- Generated markup by the plugin -->
<div class="tooltip top" role="tooltip">
  <div class="tooltip-arrow"></div>
  <div class="tooltip-inner">
    {{topics[0].tooltip}}
  </div>
</div>


</div>
