<!-- this file is injected into the div in index.html that has a class of: 'ng-view'
     once an AJAX request is implicitly made by the user -->
 <div class="container-fluid text-center">
   <p class="hint orangeText hidden-xs">
     (Hint: hover if you would like to see a description)
   </p>
   <br>
 </div>

<div class="col-sm-8">

  <dl ng-repeat="element in topics">
    <dd>
      <!-- <a href="{{ element.url }}" data-toggle="tooltip" title="{{ element.tooltip }}"> -->
      <a href="{{ element.url }}" >
      <!-- I was forced to use AngularUI here(which is an Angular wrapper for bootstrap) -->
        <button class="btn btn-md btn-default yellowGradient shadow"
                tooltip-placement="{{tooltipPlacement()}}"
                uib-tooltip="{{element.tooltip}}"
                type="button">
          {{element.topic}}{{placement.selected}}
        </button>
      </a>
    </dd>
  </dl>

</div>

<div class="col-sm-4">
  <!-- <img class="img-responsive img-rounded shadow pull-right" src="img/portal.jpeg" alt="Digital Portal" /> -->
  <!-- image attribution: https://www.marketingweek.com/2014/08/04/dma-switches-to-principles-based-code/ -->
  <img class="img-responsive img-rounded" src="img/gears.png" alt="Gears" />
  <a href="https://commons.wikimedia.org/wiki/File%3AWeb-maintenance.png">
    <p class="hint">
      By Muhammad Rafizeldi (Own work) [CC BY-SA 3.0
      (http://creativecommons.org/licenses/by-sa/3.0)], via Wikimedia Commons
    </p>
  </a>
</div>
