<!-- NOTE: this is legacy markup that should be refactored -->
<div class="container-fluid text-center">
  <h2>Scanning Documents</h2>
</div>
<hr>

<div class="container-fluid">
  <p>
  <b>Title:</b>  Tutorial for the C012 Scanner Station<br>

  <br><br>
  <a name="gui_xsane"></a>
  <b>Starting Xsane</b><br>

  First of all you have to start the GUI program from command line:
  </p>
  <pre>
          $ <font color="fuchsia">xsane &</font>
  </pre>

  <p>
  <a name="gui_preview"></a>
  <b>Previewing Image </b><br><br>
  To open the Preview windows, click View in the menu bar in the main window and
  choose show preview or press Ctl+2.  The following windows should appear. Then
  if you click on < Acquire Preview > , the scanner will get the preview for you.
  <br><br>
  <a href="imgpreview.png" target=_blank > <image src="img/help/c012scanner/preview.png" width=600 height=400 ></a>
  <br><br>

  <a name="gui_option"></a>
  <b>Setting Option </b><br><br>
  The following section will discuss on some basic option you need the software
  to work.  Make sure you scanner windows is set to the following option:<br>
  <font color="fuchsia">Xsane Mode</font> to Save<br>
  <font color="fuchsia">Scan Type</font> to Color<br>
  <font color="fuchsia">Scan Mode</font> to Normal<br>
  <font color="fuchsia">Range</font> to Full Range <br>
  The following is the typical setting for Xsane.
  <br><br>
  <a href="imgmain.png" target=_blank ><image src="img/help/c012scanner/main.png" width=300 height=400></a>
  <br><br>

  <br><br>
  <a name="gui_save"></a>
  <b>Saving Image </b><br><br>
  Now it is time to decide with what extension you want to save and where to save.
  You can type your path, filename and extention by choosing image type to
  <font color="fuchsia">< by ext ></font>. Another way is type your path and filename
  and choose the supported type of image from the image type list.
  <br><br>
  <a href="imgmain1.png" target=_blank ><image src="img/help/c012scanner/main1.png" width=300 height=400></a>
  <br><br>

  <a name="gui_scan"></a>
  <b>Scan Now </b><br><br>
  Now you set up all the basic option you need and if you like the preview, you can
  start scanning now.  Click on the <font color="fuchsia">< Start ></font> on the
  bottom of the main windows to start scanning.  The image will store in the directory
  with the filename you indicated.
  </p>

</div>
