<!-- NOTE: this is legacy markup that should be refactored -->
<div class="container-fluid text-center">
  <h2>C128 Multipage Scanner</h2>
</div>
<hr>

<div class="container-fluid">

  <br>

  <P>
    Follow these steps to scan a large packet of documents from the C128 copier directly to PDF.
  </P>

  <br>

<!-- TODO: figure out why the old site wasn't serving drivers -->
  <P>
    1. <a href='http://www.cs.sunyit.edu/network/downloads/printers/'>Download</a>
    and install scanner drivers for C128 copier.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im6scan.jpg' rel='lightbox' title='Click Start, Go to programs,
    then go to publishing, then Network ScanGear and click ScanGear Tool,'>
    <img border=0 src='img/help/c128copier/im6scan.jpg' height=300></a>
  <P>
    2. Click Start, Go to programs, then go to publishing, then Network ScanGear
    and click ScanGear Tool,
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im7scan.jpg' rel='lightbox' title='Configure the ScanGear Tool
    with the copy machine&#039;s IP address (149.15.100.202) and test the connection.'>
    <img border=0 src='img/help/c128copier/im7scan.jpg' height=300></a>
  <P>
    3. Configure the ScanGear Tool with the copy machine's IP address (149.15.100.202)
    and test the connection.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im1scan.jpg' rel='lightbox' title='Go to the copier machine and
    enable the scanning function. Touch scan.'>
    <img border=0 src='img/help/c128copier/im1scan.jpg' height=300></a>
  <P>
    4. Go to the copier machine and enable the scanning function. Touch scan.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im2scan.jpg' rel='lightbox' title='Once at the scan screen touch online.'>
    <img border=0 src='img/help/c128copier/im2scan.jpg' height=300></a>
  <P>
    5. Once at the scan screen touch online.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im9scan.jpg' rel='lightbox' title='Open Adobe Acrobat Professional'>
    <img border=0 src='img/help/c128copier/im9scan.jpg' height=300></a>
  <P>
    6. Open Adobe Acrobat Professional
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im10scan.jpg' rel='lightbox' title='In Adobe Acrobat Professional
    Click File, Create PDF, From Scanner.'>
    <img border=0 src='img/help/c128copier/im10scan.jpg' height=300></a>
  <P>
    7. In Adobe Acrobat Professional Click File, Create PDF, From Scanner.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im11scan.jpg' rel='lightbox' title='Make sure Network ScanGear
    Ver.2.21 is chosen then click Scan.'>
    <img border=0 src='img/help/c128copier/im11scan.jpg' height=300></a>
  <P>
    8. Make sure Network ScanGear Ver.2.21 is chosen then click Scan.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im12scan.jpg' rel='lightbox' title='Name your .pdf file and save.'>
    <img border=0 src='img/help/c128copier/im12scan.jpg' height=300></a>
  <P>
    9. Name your .pdf file and save.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im13scan.jpg' rel='lightbox' title='If you&#039;re done then click Cancel.'>
    <img border=0 src='img/help/c128copier/im13scan.jpg' height=130></a>
  <P>
    10. If you're done then click Cancel.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im14scan.jpg' rel='lightbox' title='Choose Scanning complete if you&#039;re done then Click Ok.'>
    <img border=0 src='img/help/c128copier/im14scan.jpg' height=188></a>
  <P>
    11. Choose Scanning complete if you're done then Click Ok.
  </p>
  <br>


  <br>
  <a href='img/help/c128copier/im3scan.jpg' rel='lightbox' title='Go back to the copying machine
    in C128. Touch offline then touch copy to reset it for the next user.'>
    <img border=0 src='img/help/c128copier/im3scan.jpg' height=300></a>
  <P>
    12. Go back to the copying machine in C128. Touch offline then touch copy to reset it for the next user.
  </p>
  <br>


  <br>


</div>
