<!-- this file is injected into the div in index.html that has a class of: 'ng-view'
     once a request is implicitly made by the user -->

<div class="container-fluid text-center">
  <h3>Use The Dropdown To Check Out Available Courses!</h3>
  <br>

  <form name="myForm">
      <label for="repeatSelect">
        Select A Term In Order To Display Links To Class-Listings
      </label><br>
      <select name="repeatSelect0" id="repeatSelect0" ng-model="data.year" ng-init="data.year=null" required>
        <option ng-repeat="option in data.years" value="{{option.value}}">{{option.name}}</option>
      </select>
      <select name="repeatSelect1" id="repeatSelect1" ng-model="data.semester" ng-init="data.semester=null" required>
        <option ng-repeat="option in data.semesters" value="{{option.id}}">{{option.name}}</option>
      </select>
<!--The button below doesn't set the term. It hides the links until the user specifies a term to inject into the links -->
      <button type="submit" ng-if="data.year&&data.semester" ng-click="termTrue()" ng-init="term=false">Set Term</button>
    </form>
    <!-- break comment to check data in model -->
    <!-- <tt>year = {{data.year}}</tt><br/>
    <tt>semester = {{data.semester}}</tt><br/> -->    

  <span ng-if="term">
    <br>
    <dl>
      <dd>
        <a href="https://banner.sunyit.edu/pls/prod/swssschd.P_ShowSchd?term_in={{data.year}}{{data.semester}}&disc_in=CS">
          Computer Science (CS)
        </a>
      </dd>
      <dd>
        <a href="https://banner.sunyit.edu/pls/prod/swssschd.P_ShowSchd?term_in={{data.year}}{{data.semester}}&disc_in=IS">
          Computer Information Systems (CIS)
        </a>
      </dd>
      <dd>
        <a href="https://banner.sunyit.edu/pls/prod/swssschd.P_ShowSchd?term_in={{data.year}}{{data.semester}}&disc_in=TEL">
          Telecommunications (TEL)
        </a>
      </dd>
      <dd>
        <a href="https://banner.sunyit.edu/pls/prod/swssschd.P_ShowSchd?term_in={{data.year}}{{data.semester}}&disc_in=NCS">
          Network &amp; Computer Security (NCS)
        </a>
      </dd>
      <dd>
        <a href="https://banner.sunyit.edu/pls/prod/swssschd.P_ShowSchd?term_in={{data.year}}{{data.semester}}&disc_in=CSC">
          Computer Science (CSC)
        </a>
      </dd>
    </dl>
  </span>

  <br>

</div>
