<!-- this file is injected into the div in index.html that has a class of: 'ng-view'
     once a request is implicitly made by the user -->

<div class="row content padding">

  <div class="col-sm-6 ">
    <div class="container-fluid text-center">

      <spacer></spacer>
      <spacer></spacer>
      <spacer></spacer>
      <!-- spacer is a custom element created in contact.controller.js -->

      <p>
        To receive more information about our campus and degree programs,
        please fill out our
        <a href="http://www.cs.sunyit.edu/degree/getapp.php">request form.</a>
        <!-- TODO: test this!!!!!!!!!!!!!! -->
        Alternatively, you can contact one of our staff members.
      </p>
    </div>
  </div>

  <div id="contactInfo" class="col-sm-6">
    <h5>Contact Information</h5>
    <hr class="visible-xs">
    <ul>
      <li ng-repeat="x in contactList">
        <a href="{{ x.url }}">{{ x.name }}</a>
      </li>
    </ul>
  </div>

</div>

<br>
