<!-- this file is injected into the div in index.html that has a class of: 'ng-view'
     once an AJAX request is implicitly made by the user -->
<div class="container-fluid text-center positioning">
  <h3 class="text-center">Faculty</h3>
  <hr>

  <p>
    (Hint: Click a box to display a professor's information.)
  </p>

  <ul>
    <li ng-repeat="x in facultyMembers">
      <a href="{{ x.url }}">{{ x.name }}</a>
      <!-- <p>{{ x.name }}</p> -->
      <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide">
      <div>
        <div class="check-element animate-show" ng-show="checked">
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <p>Phone: {{ x.phone }}</p>
              <p>Office: {{ x.office }}</p>
              <p>Email: {{ x.email }}</p>
              <p>{{ x.site }}</p>
            </div>
            <div class="col-sm-6">
              <img class="img-responsive img-rounded shadow" src="{{ x.img }}"
                   alt="Image of: {{ x.name }}" />
              <br>

            </div>
            <div class="container-fluid">
              <h4>{{ x.school }}</h4>
              <p>{{ x.bio }}</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <br>
</div>
