<!-- this file is injected into the div in index.html that has a class of: 'ng-view'
     once an AJAX request is implicitly made by the user -->

<div class="container-fluid text-center positioning">

  <br>

  <p class="hint">
    (Hint: Click a box to display a professor's information.)
  </p>

  <ul>
    <dd ng-repeat="x in facultyMembers">
      <!-- The <a> below was used for styling purposes and doesn't go anywhere -->
      <a class="biggerText" href="{{ x.url }}">{{ x.name }}</a>
      <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide">
      <div>
        <div class="check-element animate-show" ng-show="checked">
          <hr>
          <div class="row">
            <div class="col-sm-6">
              <p>Phone: {{ x.phone }}</p>
              <p>Office: {{ x.office }}</p>
              <p>Email: {{ x.email }}</p>
              <a href="{{ x.site }}">{{ x.site }}</a>
            </div>
            <div class="col-sm-6 text-center">
              <img class="img-responsive img-rounded shadow facultyImg"
                   src="{{ x.img }}" alt="Image of: {{ x.name }}" />
              <br>
              <br>

            </div>
            <div class="container-fluid">
              <h5 class="biggerText">{{ x.school }}</h5>
              <p>{{ x.bio }}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </dd>
  </ul>

  <br>
</div>
