<!-- this file is injected into the div in index.html that has a class of: 'ng-view'
     once a request is implicitly made by the user -->

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <p class="hint text-center orangeText">
      (Hint: Click a topic to expand the subtopics)
    </p>

    <!-- iterate through topic-array of accordions -->
    <div class="panel panel-default shadow" ng-repeat="topic in topics">
      <div class="panel-heading yellowGradient" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{topic.number}}"
             aria-expanded="true" aria-controls="collapse{{topic.number}}">
            {{ topic.title }}
          </a>
        </h4>
      </div>
      <div id="collapse{{topic.number}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <!-- within each accordion, iterate through arrays of subtopics -->
          <ul ng-repeat="element in topic.acctSubtopics">
            <!-- TODO: figure out why I can access $scope.topics with topic.someproperty -->
            <li>[{{$index}}]<a href="{{topic.subtopicUrls[$index]}}"><!-- how does $index increment on each loop? -->
            <!-- NOTE: I don't understand why this works without the 's' on topics. -->
              {{ element }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
