<div class="container-fluid text-center">
	<h3><span class="glyphicon glyphicon-fire"></span> Is There Something We Should Know About?</h3>
</div>
<hr>

<div class="container-fluid">
	<form ng-submit="processForm()" id="addRecordForm" method="POST">
       	
		<div class="col-sm-8">

		    <div class="form-group">
			  <label for="name">Name</label>
			  <input type="text" class="form-control" id="name" placeholder="Your name" name="name">
			</div>

			<div class="form-group">
			  <label for="email">Email Address</label>
			  <input type="email" class="form-control" id="email" name="email" placeholder="alan@turing.gnu" required>
			</div>					      

	        <div class="form-group">
			    <label for="subject">Subject</label>
			    <input type="text" class="form-control" id="subject" name="subject" placeholder="The subject of your message">
			</div>

			<textarea class="form-control" rows="3" required placeholder="Your message"></textarea>

			<br>

			<!-- Do I need to pass a parameter to the PHP script -->
			<!-- php-bin/form-mail.php?recip=bakerdp -->

			<input type="text" name="recipe" value="">

			<input type="submit" value="Submit">  
		    <input type="reset" value="Reset">
		    <!-- div below is used to disp success message  -->
		    
			<div  class="alert-success" style="height:30px" ng-show="show_success_message">
			  {{ show_success_message }}
			</div> 

            <!-- I can't use the line below without a HTTP request to the server -->
		    <!-- <p>Logged: <?= $_SERVER['REMOTE_ADDR'] ?></p> -->
		    <input type=hidden name="referer" value="<?= $_SERVER['HTTP_REFERER'] ?>">

		</div>    

    </form>
</div>
