<div class="container-fluid">

  <p>
    A Virtual Private Network (VPN) extends a private network (in this case, the CS-Department's network)
    over the Internet. Using a VPN allows a user to securely access the necessary information within
    a private network over the Internet as if they never left the initial network.
  </p>

  <div class="container-fluid">
    <img class="img-responsive" src="img/help/vpn.png" alt="Diagram of virtual network" />
    <p class="attribution">
      By Ludovic.ferre (talk · contribs) - Own work, GFDL, https://commons.wikimedia.org/w/index.php?curid=10101288
    </p>
  </div>
  <br>
  <p>
    1. Before beginning, you must have an activated CS account. If you don't
    have one, you can sign up for one at
    <a href="http://accounts.cs.sunyit.edu/activate.php">http://accounts.cs.sunyit.edu/activate.php</a>.
  </p>
  <br>

  <p>
    2. Next, you'll need a VPN client. For this tutorial, we assume that you are using
    OpenVPN, but the process will be similar with other clients as well.
  </p>
  <p>
    Windows users and OSx users can download OpenVPN's installer
    at <a href="https://openvpn.net/"> https://openvpn.net/</a>
    Users of Debian-based Linux distros will have the command-line client installed
    by default. If your distro lacks OpenVPN, you can grab a tarball of the source at
    <a href="https://openvpn.net/index.php/download/community-downloads.html">
      https://openvpn.net/index.php/download/community-downloads.html
    </a>
  </p>
  <br>
  <br>

  <img border=0 src='img/help/openvpninstaller.PNG' height=278>
  <p>
    To install OpenVPN, Windows or OSx users can run their respective installer-files and click
    through their respective wizards. Linux users will have to configure their client via
    command-line. A good tutorial is available over at
    <a href="https://www.linux.com/learn/configure-linux-clients-connect-openvpn-server">
      Linux.com
    </a>
  </p>
  <br>
  <br>

  <p>
    3. You're also going to need to download some files that are available
    <a href="https://github.com/derekbaker1986/VPN">here</a>. Extract the files.
    You'll need them later.
  </p>
  <br>
  <br>

  <p>
    4. Launch OpenVPN. At this point Linux users will have to refer once again to
    <a href="https://www.linux.com/learn/configure-linux-clients-connect-openvpn-server">Linux.com</a>
    since the remainder of this tutorial only demonstrates use of the the GUI version of this
    software.
  </p>
  <br>
  <br>

    <a href='img/help/vpn10.JPG' rel='lightbox'
       title='Once OpenVPN is open, click the plus sign next to Connection Profiles.'>
       <img border=0 src='img/help/vpn10.JPG' height=300>
    </a>
  <p>
    5. Once OpenVPN is active, click the plus sign next to Connection Profiles.
  </p>
  <br>
  <br>

  <!-- <a href='img/help/vpn11.JPG' rel='lightbox'
     title='Select Local File and click Import.'>
     <img border=0 src='img/help/vpn11.JPG' height=300>
  </a>
<p>
  11. Before pr
</p>
<br>
<br>   -->

    <a href='img/help/vpn11.JPG' rel='lightbox'
       title='Select Local File and click Import.'>
       <img border=0 src='img/help/vpn11.JPG' height=300>
    </a>
  <p>
    6. Select Local File and click Import.
  </p>
  <br>
  <br>

    <a href='img/help/vpn12.JPG' rel='lightbox'
       title='Navigate to the files extracted in Step 2, choose vpn-netlab.ovpn and click Open.'>
       <img border=0 src='img/help/vpn12.JPG' height=300>
    </a>
  <p>
    Select the vpn-netlab.ovpn file that you downloaded and extracted (or cloned)
    in Step 3, choose vpn-netlab.ovpn and click Open.
  </p>
  <br>
  <br>
    <a href='img/help/vpn13.JPG' rel='lightbox'
       title='The Edit Profile box will open. Select the Save option.'>
       <img border=0 src='img/help/vpn13.JPG' height=300>
    </a>
  <p>
    13. The Edit Profile box will open. Select the Save option.
  </p>
  <br>
  <br>
    <a href='img/help/vpn14.JPG' rel='lightbox'
       title='Once your options have saved, the main OpenVPN page will be seen again.
       Click the vpn-netlab box under the Connection Profiles bar.'>
       <img border=0 src='img/help/vpn14.JPG' height=300>
    </a>
  <p>
    14. Once your options have saved, the main OpenVPN page will be seen again.
    Click the vpn-netlab box under the Connection Profiles bar.
  </p>
  <br>
  <br>
    <a href='img/help/vpn15.JPG' rel='lightbox'
       title='Enter your CS Department credentials, and click Login.'>
       <img border=0 src='img/help/vpn15.JPG' height=300>
    </a>
  <p>
    15. Enter your CS Department credentials, and click Login.
  </p>
  <br>
  <br>
    <a href='img/help/vpn16.JPG' rel='lightbox'
       title='If you have successfully connected to the VPN, you will see a window
       displaying your Server IP, Client IP, Traffic data, and Connection time.'>
       <img border=0 src='img/help/vpn16.JPG' height=300>
    </a>
  <p>
    16. If you have successfully connected to the VPN, you will see a window displaying
    your Server IP, Client IP, Traffic data, and Connection time.
  </p>
  <br>

</div>
